body {
  margin: 0;
  padding: 0;
  font-family: "UntitledSans", Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
}

.container {
  width: 1000px;
  margin: 4px auto;
  padding: 30px;
  background-color: white;
}

/* Loan  */
.loan-card {
  position: relative;
  margin: 10px 0px;
  border: 1px solid #eee;
  width: 100%;
  padding: 15px 20px;
  vertical-align: middle;
  border-left: 3px solid #ffec62;
  background: #d6d6d6;
}

.badge {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  color: green;
}
.loan-card:hover {
  background: #797575;
}

@media screen and (max-width: 760px) {
  .loan-card {
    width: 30%;
  }
}

.available-loans-total {
  position: relative;
  margin: 10px 0px;
  border: 1px solid #eee;
  width: 100%;
  padding: 15px 20px;
  vertical-align: middle;
  border-left: 3px solid #ffec62;
  background: #d6d6d6;
}

@media screen and (max-width: 760px) {
  .loan-card,
  .available-loans-total {
    width: 30%;
  }
}

/* Backdrop */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal */
.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-left: 3px solid #ffec62;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

/* Button */

.button {
  background-color: #ffec62;
  border: none;
  color: #333d45;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.button:hover {
  background-color: #f3d80a;
}
button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

/* Input */

.input {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
}
